<!DOCTYPE html>
<html style="height: 100%;">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Barlow&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        <style type="text/css">
          .exampleFormControlSelect1 {
            -webkit-appearance: none;
            -moz-appearance: none;
            background-image: url("chevron.png");
            background-repeat: no-repeat;
            background-position-x: 95%;
            background-position-y: 10px;
            border: 1px solid #dfdfdf;
            border-radius: 2px;
            margin-right: 2rem;
            padding-right: 2rem;
            font-family: 'Montserrat'; 
            color: #3B4754; 
            background-color: white; 
            border-radius: 5px;
          }
        </style>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="bg-light" style="height: 100%; overflow-x: hidden;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="min-height: 65px;">
            <div class="container d-flex justify-content-lg-around justify-content-between">
                <a class="navbar-brand" href="/">
                  <img src="https://harmony-promotion.com/images/harmony-promotion.png" style="margin-right: 25px;" width="65" alt="logo harmony-promotion"/>
                </a>
                <button class="navbar-toggler text-center" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto w-100 d-flex justify-content-around" style="font-size: 14px;">
                      <li class="nav-item d-flex align-items-center justify-content-center">
                        <a class="nav-link" href="{{ path('programme') }}">PROGRAMMES</a>
                      </li>
                      <li class="nav-item d-flex align-items-center text-center justify-content-center">
                        <a class="nav-link" href="{{  path('guide') }}">GUIDE DE <br class="d-none d-lg-block d-xl-block"/>L'IMMOBILIER</a>
                      </li>
                      <li class="nav-item d-flex align-items-center text-center justify-content-center">
                        <a class="nav-link" href="{{ path('harmony') }}">HARMONY <br class="d-none d-lg-block d-xl-block"/>PROMOTION</a>
                      </li>
                      <!--<li class="nav-item d-flex align-items-center justify-content-center">
                        <a class="nav-link" href="{{ path('news') }}">ACTUS/NEWS</a>
                      </li>-->
                      <li class="nav-item d-flex align-items-center justify-content-center">
                        <a class="nav-link" href="{{ path('contact') }}">CONTACT</a>
                      </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <div id="anticovid" class="fixed-bottom bg-success text-light d-flex justify-content-between" style="height: 150px; opacity: 0.8;">
          <div style="margin: 10px 25px;">
            <img src="https://harmony-promotion.com/images/covid.png" alt="stop covid" width="100"/>
          </div>
          <div style="margin: 10px 0px; overflow: scroll;" class="w-75">
            <p class="text-justify">Chers clients et partenaires,<br/><br/>
                La situation que nous traversons est inédite, et les décisions gouvernementales récentes bouleversent notre quotidien et nos activités professionnelles.
                Dans ces circonstances nous tenons à vous affirmer tout notre soutien et notre solidarité, et vous indiquer que notre équipe est toujours opérationnelle à distance. Elle est pleinement mobilisée pour assurer l’activité quotidienne et préparer dès maintenant les prochains mois. Nous avons tout particulièrement adapté nos actions ces derniers jours, et nous nous concentrons sur l’accompagnement de nos clients et partenaires. Nous restons à vos côtés. Harmony Promotion est optimiste et convaincu de l’utilité d’un modèle de promotion immobilière plus vertueux, durable, simple et proche de chacun. Nous serons très attentifs à vos suggestions : n’hésitez pas à partager vos idées sur contact@harmony-prestige.com
                Nous vous remercions de votre confiance. Prenez soin de vous, de vos équipes, de vos proches.<br/><br/>
                L’équipe Harmony Promotion</p>
          </div>
          <a href="#" id="closecovid" class="btn text-light">
            <i style="font-size: 32px;" class="far fa-window-close"></i>
          </a>
        </div>
        <script>
          if (localStorage.getItem("closecovid"))
            $("#anticovid").remove();
          $("#closecovid").click((e) => {
            localStorage.setItem("closecovid", true)
            $("#anticovid").remove();
            e.preventDefault();
          });
        </script>
        <footer class="container-fluid" style="background-color: white; padding: 50px 0; overflow: hidden;">
          <div class="row">
            <div class="col-lg-2 text-center offset-lg-1">
              <img style="margin: 25px 0;" width="100" src="https://harmony-promotion.com/images/harmony-promotion.png" alt="Harmony Logo"/>
            </div>
            <div class="col-lg-2 text-center">
              <h4 style="font-family: 'Barlow'; color: #336336; margin: 25px 0px;">MENU</h4>
              <a href="{{ path('programme') }}" class="text-muted" style="font-size: 18px;">Tous les programmes</a><br/>
              <a href="{{ path('guide') }}" class="text-muted" style="font-size: 18px;">Guide de l'acheteur</a><br/>
              <a href="{{ path('guide') }}" class="text-muted" style="font-size: 18px;">Guide de l'investisseur</a><br/>
            </div>
            <div class="col-lg-2 text-center">
              <h4 style="font-family: 'Barlow'; color: #336336; margin: 25px 0px;">ENTREPRISE</h4>
              <a href="#" class="text-muted" style="font-size: 18px;">Carrière</a><br/>
              <a href="#" class="text-muted" style="font-size: 18px;">Mentions légales</a><br/>
            </div>
            <div class="col-lg-2 text-center">
              <h4 style="font-family: 'Barlow'; color: #336336; margin: 25px 0px;">DÉCOUVRIR</h4>
              <a href="{{ path('harmony') }}#team" class="text-muted" style="font-size: 18px;">Notre team</a><br/>
              <a href="{{ path('harmony') }}" class="text-muted" style="font-size: 18px;">Nos valeurs</a><br/>
            </div>
            <div class="col-lg-2 text-center">
              <h4 style="font-family: 'Barlow'; color: #336336; margin: 25px 0px;">CONTACT</h4>
              <a href="{{ path('rappel') }}"><img src="https://harmony-promotion.com/images/appel-v.png" width="35" style="margin: 25px;" alt="logo telephone"/></a>
              <a href="{{ path('contact') }}"><img src="https://harmony-promotion.com/images/mail-v.png" width="35" style="margin: 25px;" alt="logo mail"/></a>
            </div>
          </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>